@import './assets/index';

body {
  @include google-pixel(portrait) {
    background-color: orange;
  }
  @include google-pixel(landscape) {
    background-color: yellow;
  }
  @include google-pixel {
    background-color: black;
  }
}