@import './assets/index';

body {
  @include iphone-8-plus(portrait) {
    background-color: orange;
  }
  @include iphone-8-plus(landscape) {
    background-color: yellow;
  }
  @include iphone-8-plus {
    background-color: black;
  }
}